.pageContainer {
  display: flex;
  max-width: 1024px;
  margin: auto;
}

.navbar {
  width: 150px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  z-index: 100;
}

.mainBody {
  width: calc(100% - 150px);
  margin-left: 150px;
  transition: width 0.5s;
}

@media only screen and (max-width: 768px) {
  .pageContainer {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: auto;
  }
  .navbar {
    width: 100%;
    position: relative;
  }
  .mainBody {
    width: 100%;
    margin: 0;
  }
}